.custom-file-input,.statut {
    width: auto;
}
.form-check-label,.form-check-input {
    display: inline-block;
    margin-right: 30px;
}
.fa-solid{
    margin-right: 10px; 
}
button{
    width: 150px;
    position: absolute;
    left:100px;
    
}